body {
    background-color:  hsl(225, 100%, 94%);
    /* font-family: (https://fonts.google.com/specimen/Red+Hat+Display); */
}
.img-bg img {
    width: 100%;
    max-width: 100%;
    
}

.box {
    width: 385px;
    height: 55vh; 
    background-color: white;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    position: relative;
   bottom: 200px;
    left: 500px;

}

.img-anim img {
    width: 100%;
    max-width: 28.9%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    position: relative;
    left: 500px;
    bottom: 753px ;
}

.section-2 {
    position: relative;
    bottom: 745px;
}

h1 {
    margin-left: 585px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.section-2 p {
    width: 100%;
    max-width: 20%;
    text-align: center;
    margin-left: 560px;
    align-items: justify;
    font-size: 16px;
    color:  hsl(224, 23%, 55%);
}


.section-3 {
    width: 100%;
    height: 70px;
    max-width: 23.5%;
    position: relative;
    bottom: 738px;
    left: 537px;
    border-radius: 4%;
    background-color: hsl(225, 100%, 98%); 
}


.img-music img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}

.section-3 h4{
    position: inherit;
    bottom: 70px;
    left: 80px;
    font-weight: 700;
}

.section-3 p {
    position: inherit;
    bottom: 84px;
    left: 80px;
}
 a .change {
    position: relative;
    bottom: 130px;
    left: 260px;
    color: hsl(223, 47%, 23%);
}

a .change :hover {
    text-decoration: none;
}



.pay {
    width: 100%;
    max-width: 23.2%;
    height: 40px;
    margin-left: 537px;
    margin-top: 27px;
    background-color: hsl(245, 75%, 52%);
    border: blue;
    color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

.section-2 .pay :hover {
    color: hsl(245, 75%, 52%);
}
.section-2 a{
    text-decoration: none;
}
.cancel {
    margin-left: 650px;
    position: relative;
    top: 20px;
    font-weight: 500;
}






